.content {
  position: relative;
  margin-left: 35%;
  width: 58%;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 0px;
  padding: 25px;
}

.content-item_select {
  width: 100%;
}
